* {
	margin: 0;
	padding: 0;
}

@font-face {
  font-family: 'CursedTimer';
  src: url('CursedTimer/CursedTimerUlil-Aznm.ttf'); /* Locate the .ttf file within your directory*/
}

body {
	background: #BAE6FD;
} 

.main {
	width: 575px;
	height: 400px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	background: #1B244A;
	border: 20px solid white;
	border-radius: 15px;
}

.plaque {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 25px 50px;
	gap: 100px;
}

.scores {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.score-title {
	font-family: 'Poppins';
	font-weight: bold;
	margin-bottom: 10px;
	font-size: 46px;
	color: #F9FAFB;
}

.score-number {
	width: 155px;
	height: 120px;
	background: black;
	color: #F94F6D;
	font-size: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 15px;
}

.winning {
	border: 1px solid yellow;
}

.score-buttons {
	display: flex;
	align-items: center;
	gap: 10px;
}

.button {
	width: 45px;
	height: 45px;
	border: 1px solid #9AABD8;
	border-radius: 5px;
	background: #1B244A;
	color: #9AABD8;
	padding: 6px;
	font-size: 15px;
}

.new-game {
	border: 1px solid #9AABD8;
	border-radius: 5px;
	padding: 6px 10px;
	width: fit-content;
	color: #FECDD3;
	font-family: 'Poppins';
	font-weight: bold;
	margin-bottom: 10px;
	font-size: 38px;
	background: #F94F6D;
}

.score-number, .button {
	font-family: 'CursedTimer';
}
